
.one ul {
  
  width: fit-content;
  list-style: none;
  padding: 0.5em 0;
  background: #170957;
}
.one a {
  padding: 1em;
  background: rgba(129, 38, 185, 0.3);
  border-right: 1px solid #07000a;
  color: #323374d8;
}
.one a:hover {background: #2e7975;}
.one li {
  color: aliceblue;
  font-size: larger;
  display: inline;
}