
.one ul {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  list-style: none;
  padding: 0.5em 0;
}
.one a {
  padding: 1em;
  border-right: 1px solid #07000a;
  color: #323374d8;
}
.one a:hover {background: #2e7975;}
.one li {
  color: rgb(28, 122, 204);
  font-size: larger;
  display: inline;
}