*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background-color: rgb(104, 102, 99);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.menu a{
    margin: 0;
    text-decoration: none;
}
.menu li{
    position: relative;
    list-style: none;
    border-width: 2px;
}
.menu_list{
    display: flex;
}
.menu_list>li{
    margin: 0px 10px 0px 0px;
}
.menu_list>li:hover .submenu_list{display: block;}

.menu_link{
    color: chocolate;
}
.submenu_list{
    display: none;
    position: absolute;
    padding: 10px 0px 0px 0px;
    left: 0;
    top: 15px;

}
.submenu_link{
    color: black;
    display: inline-block;
}
@media all and (max-width:670px){
    html,body{
        height: 100%;
        background-color: rgb(100, 207, 226);
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
    .menu_list{
        display: inline-table;
        cursor: pointer;
    }
    .submenu_list{
        border-width: 3px;
        display: none;
        transition: linear;
        position: absolute;
        padding: 5px 0px 0px 0px;
        left: 120px;
        top: 0px;
    }

}