.nav{
    background-color: indianred;
    width: 15em;
    position: left;
    float: left;
}
.costyl div{
    clear: both;
    height: 3px;
    background-color: black;
}

.article{
    position: relative;
    position: right;
    background-color: #43dd24;
    margin-bottom: 2em;
    margin-left: 15em;

}
.footer{
    height: auto;
    background-color: aqua;
    margin-top: 0px;
}

img p{
    float: right;
    position: absolute;
    right: 2px;
    bottom: 2px;

}